@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
}
html,
body,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
